name: Test
permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: runs-on=${{ github.run_id }}/runner=1cpu-linux-arm64
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@v5.0.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Check formatting
        run: npm run format -- --check

      - name: Run tests
        run: npm test
